<h1>Slider com scroll</h1>

<div class="actions">
    <button (click)="prev()" [disabled]="currentIndex === 0">Prev</button>
    <button (click)="next()" [disabled]="currentIndex === images.length - 1">Next</button> <br>
    <button (click)="first()" [disabled]="currentIndex === 0">Primeiro</button>
    <button (click)="last()" [disabled]="currentIndex === images.length - 1">Último</button>
</div>

Atual: {{currentIndex}}


<div class="scroll-slider">
    <div class="slide-line" #scrollSlider>
        @for (item of images; track item; let i = $index) {
            <div class="slide" [class.active]="currentIndex === i">
                <img [src]="images[i]" alt="">
            </div>
        }
    
    </div>
    <div class="dots">
        @for (item of images; track item; let i = $index) {
            <button class="dot" [class.active]="i === currentIndex" (click)="goTo(i)"></button>
        }
    </div>
</div>